@page "/Estudiantes"
@using Data.Models

<h1>Lista de Estudiantes</h1>
<table class="table">

            <tr>
                <th>Nombre</th> <input>
                <th>Apellido</th> <input>
                <th>Carrera</th> <input>
                <th>Matricula</th> <input>
                <th>Fecha de Nacimiento</th> <input>
            </tr>
        </table>
        <button type="button" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-warning">Limpiar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
     @code{


     }